= form_for @process, :html => {:class => "form-horizontal"} do |f|
  = form_errors(@process)
  %fieldset
    %legend Create a new process
    .control-group
      =f.label :title, :class=>"control-label"
      .controls
        = f.text_field :title, :class=>"input-xlarge"
    .control-group
      =f.label :message, :class=>"control-label"
      .controls
        = f.text_area :message, :rows=>10, :class=>"input-xlarge"
    .form-actions
      %button{:type=>"submit", :class=>"btn btn-primary"} Create Process
        
