%form.form-horizontal
  %fieldset
    %legend Create a new process
    .control-group
      %label{:for=>"input01", :class=>"control-label"} Title
      .controls
        %input{:type=>"text", :id=>"input01", :class=>"input-xlarge"}
    .control-group
      %label{:for=>"textarea01", :class=>"control-label"} Description
      .controls
        %textarea{:rows=>3, :id=>"textarea", :class=>"input-xlarge"}
        
